html{
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*, *::before, *::after {  
    box-sizing: inherit;
}
  
body {
    margin: 0; 
    padding: 0;
    background-color:rgb(29, 4, 53);
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
  
#particles-js {
  height: 100vh; 
  width: 100%;
    position: fixed;
    z-index: -1;
}
.contenedor.header {
    height: calc(100vh - 55px);

}
  
.barra-navegacion ul {
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
  
  .barra-navegacion li {
    list-style: none;
    display: inline-block;
}
  
  
.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}
  
.barra-navegacion a:hover {
    color: #881bb3;
    border-bottom: 1px solid currentcolor;
}

.perfil {
    padding: 30px;
}

.perfil > h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.alumno > img {
    padding: 20px;
    float: left;
    display: flex;
    width: 24%;
    border-radius: 100%;
}

.datos > p{
    text-align: left;
    padding: 20px;
    padding-bottom: 20px;
    margin-left: 500px;
    font-weight: 500;
    border: 2px solid white;
    width: 24%;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    );
}